<div class="auth-layout">
    <div class="auth-banner">
        <div class="overlay"></div>
        <div class="banner-content">
            <span class="subtitle">
                NO PAIN • NO GAIN
            </span>
            <h1>
                YOUR FITNESS
                <br>
                JOURNEY
                <br>
                STARTS HERE.
            </h1>
            <p>
                Join GymHub today and start transforming
                your body with professional trainers and
                premium equipment.
            </p>
        </div>
    </div>
    <div class="auth-content">
        <ng-content></ng-content>
    </div>
</div>